.movie-view {
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  color: #ffffff;
}

.label {
  font-weight: 800;
}

.linkButton {
  color: #ffffff;
  text-decoration: underline;
}

.rowGap {
  margin-bottom: 2em;
}

.buttonBottom {
  margin-right: 1em;
  margin-left: 1em;
}
